<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine_path heroine do %>
        <%= heroine.super_name %>
      <%end%>
    </li>
    <br>
  <% end %>
</ul>